#mainCanvas, #topCanvas, #cursorCanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#mainCanvas {
  background-color: #000000;
}

.cursorHideClass {
  cursor: none;
}